<!DOCTYPE html>
<html lang="ru">
  <head>
    <!--%= htmlWebpackPlugin.options.GTAGManager %-->

    <title>Karma. Global p2p-lending platform</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= htmlWebpackPlugin.options.PreviewMeta %>
    <%= htmlWebpackPlugin.options.PWAMeta %>

    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.0/normalize.css"
    />
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <%= htmlWebpackPlugin.options.i18n %>

    <%= htmlWebpackPlugin.options.LoaderStyle %>
  </head>

  <body>
    <div id="app-root"></div>
    <div id="modal-root"></div>
    <div id="menu-root"></div>

    <!--%= htmlWebpackPlugin.options.GTAGManagerNoScript % -->
    <%= htmlWebpackPlugin.options.fbPixel %>
    <%= htmlWebpackPlugin.options.GANKarma %>
    <%= htmlWebpackPlugin.options.YMCounterKarma %>
    <%= htmlWebpackPlugin.options.RoistatScript %>
    <%= htmlWebpackPlugin.options.AmoPixel %>
    <%= htmlWebpackPlugin.options.SWScript %>
  </body>
</html>
